<app-header [title]="'Introduction'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Finance Tracker - Mobile Planning App</ion-card-title>
            <ion-card-subtitle>Author: Filip Jasinski - 19060506</ion-card-subtitle>
            <ion-card-subtitle>Module: Mobile Computing, 6WCM0034</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>GitHub</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            All code & commits can be viewed at <a href="https://github.com/jasaf/a1-finance-tracker">This Repository</a>.
            <p>(https://github.com/jasaf/a1-finance-tracker)</p>
        </ion-card-content>
    </ion-card>
</ion-content>