<app-header [title]="'Introduction'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Finance Tracker - Mobile Planning App</ion-card-title>
            <ion-card-subtitle>Author: Filip Jasinski - 19060506</ion-card-subtitle>
            <ion-card-subtitle>Module: Mobile Computing, 6WCM0034</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>GitHub</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            All code & commits can be viewed at <a href="https://github.com/jasaf/a1-finance-tracker">This Repository</a>.
            <p>(https://github.com/jasaf/a1-finance-tracker)</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>References</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Application used for critique section: <span class="italic d-block">How much can I spend? Expense Tracker</span>
            <p>By Alexander Y. Ivanov</p>
            <p>
                <a href="https://play.google.com/store/apps/details?id=pravbeseda.spendcontrol">Play Store Link</a>
            </p>
            <p>
                (https://play.google.com/store/apps/details?id=pravbeseda.spendcontrol)
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>