<app-header [title]="'Personas'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Steven</ion-card-title>
            <ion-card-subtitle>Age: 17</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Steven is an ordinary teenager who has issues with saving money. He likes to go shopping quite often, which does not help with his money troubles. He thinks he spends too much on clothes and cosmetics and decides, that something must change. Therefore, Steven installs a Finance Tracker in order to keep track of his expenses.</p> 
            <p class="mt-1">The first step Steven decides to make within the application is registration of a new financial goal “Spend no more than XXX in the upcoming month”. In order to do that he does the following steps:</p>
            <ol>
                <li>Launches Finance Tracker application.</li>
                <li>Clicks “New Goal” button on the main screen and selects the goal type, value and the time period.</li>
                <li>New goal is now registered, and next time Steven goes shopping, he will register each expense within the app.</li>
                <li>To register an expense, Steven opens the application and choses an option of adding new expense. This time, he decides to use his camera and text recognition as he is in rush and does not have time fill in the description and select the category. From now on, the application will notify Steven about a new undescribed expense.</li>
                <li>After some time, Steven wants to give a new description and a category to the last expense. He does that by accessing a list of undescribed expenses and by selecting the record in order to open a new modal with a textbox and option to save.</li>
                <li>Each time Steven goes shopping he registers a new expense either by the camera option or manual option which is just a modal with two textboxes. Every new expense also registers the current geolocation for easier identification of the transaction.</li>
                <li>At the end of the month, Steven decides to check his statistics and if he has met his goal. Therefore, he opens a Main Menu and decides to go to Statistics section, where all the expenses for given categories are summed up for the given month. In the same section there is also a month comparison, which as the name suggests, compares the goals and overall expenses made for the previous and current month.</li>
            </ol>
        </ion-card-content>
    </ion-card>
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Lena</ion-card-title>
            <ion-card-subtitle>Age: 25</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Unlike Steven, Lena is aware of her expenses and does not have any money issues. Lena, however, decides to track her spending's just for the record which is fine with Finance Tracker. In order to do that Lena does the following steps:</p>
            <ol>
                <li>Lena registers each financial operation in the Finance Tracker either by the camera of manual input options. Lena does not have to provide any goals or categories in order to use the application.</li>
                <li>At the end of each day, Lena launches the application in order to check how much she spent on the same and previous days for comparison. Lena does not have to do anything else as the main expenses diagram is located on the main “view” after the application launch.</li>
                <li>Lena decides to go through her history of expenses. Therefore, she goes to the Transaction History section where she can view a list of her expenses. There are some filter options which she can use to find the expense she wants to view details for.</li>
                <li>After finding the specific expense in Transaction History, Lena decides to check its details. In order to do that she clicks on the “View” button.</li>
                <li>Transaction Details view opens where Lena can see the location of selected expense, the value, description and category (if previously selected). She can edit those values or go back to the transaction list.</li>
            </ol>
        </ion-card-content>
    </ion-card>
</ion-content>