<app-header [title]="'Personas'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Steven</ion-card-title>
            <ion-card-subtitle>Age: 17</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p>Steven is an ordinary teenager who has issues with saving money. He likes to go shopping quite often, which does not help with his money troubles. He thinks he spends too much on clothes and cosmetics and decides, that something must change. Therefore, Steven installs a Finance Tracker in order to keep track of his expenses.</p> 
            <p class="mt-1">The first step Steven decides to make within the application is registration of a new financial goal “Spend no more than XXX in the upcoming month”. In order to do that he does the following steps:</p>
        </ion-card-content>
    </ion-card>
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Lena</ion-card-title>
            <ion-card-subtitle>Age: 25</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>