<app-header [title]="'Goals'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card> 
        <ion-card-header>
            <ion-card-title>Purpose and Goal of Finance Tracker</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Finance Tracker is an application which serves its purpose, as the name suggests in the world of finance. The main purpose of this application is to persuade people to become better savers in their day-to-day schedule. The application will not only allow users to track their expenses in a smart way, but it will also feed the users with latest articles from the financial world in order to make them aware that finance does not rely just on spending their savings. 
            The primary goals of Finance Tracker are to provide:
            <ion-list>
                <ion-item>
                    <div class="list-item">
                        <ion-label class="list-item-title">User friendliness</ion-label>
                        <p>
                            Most users require mobile applications to be useful and simple to use. Finance Tracker will not only make the user experience better than in it is in other available applications on the market, but it will also be fully functional to serve the purpose as a primary tool for tracking expenses and savings.
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="list-item">
                        <ion-label class="list-item-title">Optical character recognition</ion-label>
                        <p>
                            For the Finance Tracker to be functional, optical character recognition technology will be introduced to allow users register their expenses just with a click of a camera! This functionality will become very useful especially in busy occasions where we just want to register our latest expense with a click of a button. An advanced text recognition algorithm will capture all the totals and add them as an expense with a click of a button. 
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="list-item">
                        <ion-label class="list-item-title">Article live thread</ion-label>
                        <p>
                            In order to make the users aware of the latest financial events, the application will provide a section with articles and news which will not only educate the users, but it will also persuade them to dive deeper into the world of numbers. Therefore, Finance Tracker is going to use number of selected REST APIs as a primary source of information to keep its users always updated.
                        <p>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="list-item">
                        <ion-label class="list-item-title">Geo location capture</ion-label>
                        <p>
                            An option to capture geo location for each expense recorded within Finance Tracker. This will allow users to later view places on the map where they made their financial transactions. A history containing not only the values, but also descriptions and geo locations are easier to identify and recognize in the future if needed. 
                        </p>
                    </div>
                </ion-item>
              </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>