<app-header [title]="'Technologies'"></app-header>
<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Ionic</ion-card-title>
            <ion-card-subtitle>Level: Beginner</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            As a beginner in mobile development Ionic seems to be the most simple technology to use,
            but at the same time advanced enough in terms of its functionality to complete the
            task. The proof of its simplicity is This application.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Angular</ion-card-title>
            <ion-card-subtitle>Level: Advanced</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            As an advanced user of Angular, working with this framewrok is just a joy.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>SQLite</ion-card-title>
            <ion-card-subtitle>Level: Advanced</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            SQLite is a great choice for simple CRUD applications like Finance Tracker is going to be.
            All we need in this application is store relational data on a mobile device. Therefore, the choice was simple.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Visaul Studio Code</ion-card-title>
            <ion-card-subtitle>Level: Advanced</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            A simple IDE, but good and reliable enough to complete the task. 
        </ion-card-content>
    </ion-card>
</ion-content>
